{
  "symbol-whitelist": [
    "array",
    "bool",
    "callable",
    "false",
    "float",
    "int",
    "iterable",
    "null",
    "object",
    "parent",
    "self",
    "static",
    "string",
    "true",
    "void",
    "PHPUnit\\Framework\\TestCase",
    "Google_Service_Sheets",
    "Google_Service_Sheets_ClearValuesRequest",
    "Google_Service_Sheets_ValueRange"
  ]
}